
div.form-container {
    margin-top: 2rem;
}

@media only screen and (max-width : 768px)  {
    div.form-container {
        display: grid;
        grid-template-areas:
        "top"
        "bottom";
    }

    div.data-entry-1 {
        grid-area: top;
    }

    div.data-entry-2 {
        margin-top: 1rem;
        grid-area: bottom;
    }

    div.panel-left-or-top {
        grid-area: top;
    }

    div.panel-right-or-bottom {
        margin-top: 1rem;
        grid-area: bottom;
    }

}

@media only screen and (min-width : 768px)  {
    div.four-column-container {
        padding: 3px;
        display: grid;
        grid-template-columns: .7fr 1fr .7fr 1fr;
        align-items: center;
    }

    div.form-container {
        padding: 3px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    div.data-entry-1 {
        padding-right: 6px;
        border-right: 1px solid darkgrey;
    }

    div.data-entry-2 {
        padding-right: 6px;
    }

    div.panel-left-or-top {
        padding-right: 6px;
        border-right: 1px solid darkgrey;
    }

    div.panel-right-or-bottom {
        padding-right: 6px;
    }

    .input-error {
        color: red;
        padding-left: 8px;
        display: none;
    }
}
